In [2]:
import yfinance as yf
import pandas as pd
import numpy as np

# STOCKS ALL COLUMNS

## Apple

In [ ]:
#choose ticker from yahoo finance website
apple = yf.Ticker('AAPL')

#get the table including the oldest data until current time
apple_df = apple.history(period = 'max')

#insert a new column called Ticker in the first position with all rows set to "stock_ticker"
apple_df.insert(0, 'ticker', 'AAPL')

#transform the index 'Date' in a column
apple_df = apple_df.reset_index()

#eliminate the time from the 'Date' column
apple_df['Date'] = pd.to_datetime(apple_df['Date'])
apple_df['Date'] = apple_df['Date'].dt.date

#rename column Date
apple_df = apple_df.rename(columns = {'Date': 'date', 'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close' })

#create a new column with % change from last close to new open
apple_df['percent_change'] = (apple_df['close'] - apple_df['close'].shift(1)) / apple_df['close'].shift(1) * 100

#eliminate columns with no use
apple_df = apple_df.drop(['Volume', 'Dividends', 'Stock Splits'], axis = 1)

#convert NaN in % column to 0
apple_df['percent_change'] = apple_df['percent_change'].fillna(0)

#convert inf values to 0
apple_df['percent_change'] = apple_df['percent_change'].replace([np.inf, -np.inf], 0)

apple_df.head()

In [3]:
apple_df

,date,ticker,open,high,low,close,percent_change
0,1980-12-12,AAPL,0.099584,0.100017,0.099584,0.099584,0.000000
1,1980-12-15,AAPL,0.094821,0.094821,0.094388,0.094388,-5.217077
2,1980-12-16,AAPL,0.087894,0.087894,0.087461,0.087461,-7.339760
3,1980-12-17,AAPL,0.089625,0.090058,0.089625,0.089625,2.475032
4,1980-12-18,AAPL,0.092224,0.092657,0.092224,0.092224,2.899289
...,...,...,...,...,...,...,...
10692,2023-05-11,AAPL,173.609878,174.348846,171.932190,173.510010,0.109475
10693,2023-05-12,AAPL,173.619995,174.059998,171.000000,172.570007,-0.541757
10694,2023-05-15,AAPL,173.160004,173.210007,171.470001,172.070007,-0.289737
10695,2023-05-16,AAPL,171.990005,173.139999,171.800003,172.070007,0.000000
10696,2023-05-17,AAPL,171.710007,172.929993,170.419998,172.690002,0.360316

In [37]:
apple_df.to_csv(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\project_stock_crypto_astrology\stocks_all_columns_csv\apple_all_columns.csv', index = False)

## Microsoft

In [8]:
#choose ticker from yahoo finance website
microsoft = yf.Ticker('MSFT')

#get the table including the oldest data until current time
microsoft_df = microsoft.history(period = 'max')

#insert a new column called Ticker in the first position with all rows set to "stock_ticker"
microsoft_df.insert(0, 'ticker', 'MSFT')

#transform the index 'Date' in a column
microsoft_df = microsoft_df.reset_index()

#eliminate the time from the 'Date' column
microsoft_df['Date'] = pd.to_datetime(microsoft_df['Date'])
microsoft_df['Date'] = microsoft_df['Date'].dt.date

#rename columns
microsoft_df = microsoft_df.rename(columns = {'Date': 'date', 'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close' })

#create a new column with % change from last close to new open
microsoft_df['percent_change'] = (microsoft_df['close'] - microsoft_df['close'].shift(1)) / microsoft_df['close'].shift(1) * 100

#eliminate columns with no use
microsoft_df = microsoft_df.drop(['Volume', 'Dividends', 'Stock Splits'], axis = 1)

#convert NaN in % column to 0
microsoft_df['percent_change'] = microsoft_df['percent_change'].fillna(0)

#convert inf values to 0
microsoft_df['percent_change'] = microsoft_df['percent_change'].replace([np.inf, -np.inf], 0)

microsoft_df.head()

         date ticker      open      high       low     close  percent_change
0  1986-03-13   MSFT  0.055241  0.063365  0.055241  0.060657        0.000000
1  1986-03-14   MSFT  0.060657  0.063907  0.060657  0.062823        3.571201
2  1986-03-17   MSFT  0.062823  0.064448  0.062823  0.063907        1.725037
3  1986-03-18   MSFT  0.063907  0.064448  0.061740  0.062281       -2.543192
4  1986-03-19   MSFT  0.062281  0.062823  0.060657  0.061198       -1.738996

In [9]:
microsoft_df.to_csv(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\project_stock_crypto_astrology\stocks_all_columns_csv\microsoft_all_columns.csv', index = False)

## Amazon

In [10]:
#choose ticker from yahoo finance website
amazon = yf.Ticker('AMZN')

#get the table including the oldest data until current time
amazon_df = amazon.history(period = 'max')

#insert a new column called Ticker in the first position with all rows set to "stock_ticker"
amazon_df.insert(0, 'ticker', 'AMZN')

#transform the index 'Date' in a column
amazon_df = amazon_df.reset_index()

#eliminate the time from the 'Date' column
amazon_df['Date'] = pd.to_datetime(amazon_df['Date'])
amazon_df['Date'] = amazon_df['Date'].dt.date

#rename columns
amazon_df = amazon_df.rename(columns =  {'Date': 'date', 'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close' })

#create a new column with % change from last close to new open
amazon_df['percent_change'] = (amazon_df['close'] - amazon_df['close'].shift(1)) / amazon_df['close'].shift(1) * 100

#eliminate columns with no use
amazon_df = amazon_df.drop(['Volume', 'Dividends', 'Stock Splits'], axis = 1)

#convert NaN in % column to 0
amazon_df['percent_change'] = amazon_df['percent_change'].fillna(0)

#convert inf values to 0
amazon_df['percent_change'] = amazon_df['percent_change'].replace([np.inf, -np.inf], 0)

amazon_df.head()

         date ticker      open      high       low     close  percent_change
0  1997-05-15   AMZN  0.121875  0.125000  0.096354  0.097917        0.000000
1  1997-05-16   AMZN  0.098438  0.098958  0.085417  0.086458      -11.702769
2  1997-05-19   AMZN  0.088021  0.088542  0.081250  0.085417       -1.204047
3  1997-05-20   AMZN  0.086458  0.087500  0.081771  0.081771       -4.268472
4  1997-05-21   AMZN  0.081771  0.082292  0.068750  0.071354      -12.739234

In [11]:
amazon_df.to_csv(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\project_stock_crypto_astrology\stocks_all_columns_csv\amazon_all_columns.csv', index = False)

## Nvidia

In [12]:
#choose ticker from yahoo finance website
nvidia = yf.Ticker('NVDA')

#get the table including the oldest data until current time
nvidia_df = nvidia.history(period = 'max')

#insert a new column called Ticker in the first position with all rows set to "stock_ticker"
nvidia_df.insert(0, 'ticker', 'NVDA')

#transform the index 'Date' in a column
nvidia_df = nvidia_df.reset_index()

#eliminate the time from the 'Date' column
nvidia_df['Date'] = pd.to_datetime(nvidia_df['Date'])
nvidia_df['Date'] = nvidia_df['Date'].dt.date

#rename columns
nvidia_df = nvidia_df.rename(columns = {'Date': 'date', 'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close' })

#create a new column with % change from last close to new open
nvidia_df['percent_change'] = (nvidia_df['close'] - nvidia_df['close'].shift(1)) / nvidia_df['close'].shift(1) * 100

#eliminate columns with no use
nvidia_df = nvidia_df.drop(['Volume', 'Dividends', 'Stock Splits'], axis = 1)

#convert NaN in % column to 0
nvidia_df['percent_change'] = nvidia_df['percent_change'].fillna(0)

#convert inf values to 0
nvidia_df['percent_change'] = nvidia_df['percent_change'].replace([np.inf, -np.inf], 0)

nvidia_df.head()

         date ticker      open      high       low     close  percent_change
0  1999-01-22   NVDA  0.401448  0.448045  0.356047  0.376358        0.000000
1  1999-01-25   NVDA  0.406227  0.420565  0.376358  0.415786       10.476260
2  1999-01-26   NVDA  0.420565  0.428929  0.377552  0.383527       -7.758565
3  1999-01-27   NVDA  0.384722  0.394280  0.363215  0.382332       -0.311492
4  1999-01-28   NVDA  0.382332  0.384722  0.378747  0.381137       -0.312489

In [13]:
nvidia_df.to_csv(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\project_stock_crypto_astrology\stocks_all_columns_csv\nvidia_all_columns.csv', index = False)

## Google

In [14]:
#choose ticker from yahoo finance website
google = yf.Ticker('GOOGL')

#get the table including the oldest data until current time
google_df = google.history(period = 'max')

#insert a new column called Ticker in the first position with all rows set to "stock_ticker"
google_df.insert(0, 'ticker', 'GOOGL')

#transform the index 'Date' in a column
google_df = google_df.reset_index()

#eliminate the time from the 'Date' column
google_df['Date'] = pd.to_datetime(google_df['Date'])
google_df['Date'] = google_df['Date'].dt.date

#rename columns
google_df = google_df.rename(columns = {'Date': 'date', 'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close' })

#create a new column with % change from last close to new open
google_df['percent_change'] = (google_df['close'] - google_df['close'].shift(1)) / google_df['close'].shift(1) * 100

#eliminate columns with no use
google_df = google_df.drop(['Volume', 'Dividends', 'Stock Splits'], axis = 1)

#convert NaN in % column to 0
google_df['percent_change'] = google_df['percent_change'].fillna(0)

#convert inf values to 0
google_df['percent_change'] = google_df['percent_change'].replace([np.inf, -np.inf], 0)

google_df.head()

         date ticker      open      high       low     close  percent_change
0  2004-08-19  GOOGL  2.502503  2.604104  2.401401  2.511011        0.000000
1  2004-08-20  GOOGL  2.527778  2.729730  2.515015  2.710460        7.942979
2  2004-08-23  GOOGL  2.771522  2.839840  2.728979  2.737738        1.006395
3  2004-08-24  GOOGL  2.783784  2.792793  2.591842  2.624374       -4.140790
4  2004-08-25  GOOGL  2.626627  2.702703  2.599600  2.652653        1.077555

In [15]:
google_df.to_csv(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\project_stock_crypto_astrology\stocks_all_columns_csv\google_all_columns.csv', index = False)

## Berkshire

In [16]:
#choose ticker from yahoo finance website
berkshire = yf.Ticker('BRK-B')

#get the table including the oldest data until current time
berkshire_df = berkshire.history(period = 'max')

#insert a new column called Ticker in the first position with all rows set to "stock_ticker"
berkshire_df.insert(0, 'ticker', 'BRK-B')

#transform the index 'Date' in a column
berkshire_df = berkshire_df.reset_index()

#eliminate the time from the 'Date' column
berkshire_df['Date'] = pd.to_datetime(berkshire_df['Date'])
berkshire_df['Date'] = berkshire_df['Date'].dt.date

#rename columns
berkshire_df = berkshire_df.rename(columns = {'Date': 'date', 'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close' })

#create a new column with % change from last close to new open
berkshire_df['percent_change'] = (berkshire_df['close'] - berkshire_df['close'].shift(1)) / berkshire_df['close'].shift(1) * 100

#eliminate columns with no use
berkshire_df = berkshire_df.drop(['Volume', 'Dividends', 'Stock Splits'], axis = 1)

#convert NaN in % column to 0
berkshire_df['percent_change'] = berkshire_df['percent_change'].fillna(0)

#convert inf values to 0
berkshire_df['percent_change'] = berkshire_df['percent_change'].replace([np.inf, -np.inf], 0)

berkshire_df.head()

,date,ticker,open,high,low,close,percent_change
0,1996-05-09,BRK-B,22.200001,24.400000,22.200001,23.200001,0.000000
1,1996-05-10,BRK-B,24.000000,24.200001,23.600000,24.000000,3.448272
2,1996-05-13,BRK-B,24.000000,24.100000,23.299999,23.900000,-0.416668
3,1996-05-14,BRK-B,24.000000,24.100000,23.100000,23.600000,-1.255227
4,1996-05-15,BRK-B,23.600000,23.700001,23.000000,23.200001,-1.694914

In [17]:
berkshire_df.to_csv(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\project_stock_crypto_astrology\stocks_all_columns_csv\berkshire_all_columns.csv', index = False)

## Meta

In [18]:
#choose ticker from yahoo finance website
meta = yf.Ticker('META')

#get the table including the oldest data until current time
meta_df = meta.history(period = 'max')

#insert a new column called Ticker in the first position with all rows set to "stock_ticker"
meta_df.insert(0, 'ticker', 'META')

#transform the index 'Date' in a column
meta_df = meta_df.reset_index()

#eliminate the time from the 'Date' column
meta_df['Date'] = pd.to_datetime(meta_df['Date'])
meta_df['Date'] = meta_df['Date'].dt.date

#rename columns
meta_df = meta_df.rename(columns = {'Date': 'date', 'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close' })

#create a new column with % change from last close to new open
meta_df['percent_change'] = (meta_df['close'] - meta_df['close'].shift(1)) / meta_df['close'].shift(1) * 100

#eliminate columns with no use
meta_df = meta_df.drop(['Volume', 'Dividends', 'Stock Splits'], axis = 1)

#convert NaN in % column to 0
meta_df['percent_change'] = meta_df['percent_change'].fillna(0)

#convert inf values to 0
meta_df['percent_change'] = meta_df['percent_change'].replace([np.inf, -np.inf], 0)

meta_df.head()

,date,ticker,open,high,low,close,percent_change
0,2012-05-18,META,42.049999,45.000000,38.000000,38.230000,0.000000
1,2012-05-21,META,36.529999,36.660000,33.000000,34.029999,-10.986139
2,2012-05-22,META,32.610001,33.590000,30.940001,31.000000,-8.903905
3,2012-05-23,META,31.370001,32.500000,31.360001,32.000000,3.225806
4,2012-05-24,META,32.950001,33.209999,31.770000,33.029999,3.218746

In [19]:
meta_df.to_csv(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\project_stock_crypto_astrology\stocks_all_columns_csv\meta_all_columns.csv', index = False)

## Exxon

In [20]:
exxon = yf.Ticker('XOM')

#get the table including the oldest data until current time
exxon_df = exxon.history(period = 'max')

#insert a new column called Ticker in the first position with all rows set to "stock_ticker"
exxon_df.insert(0, 'ticker', 'XOM')

#transform the index 'Date' in a column
exxon_df = exxon_df.reset_index()

#eliminate the time from the 'Date' column
exxon_df['Date'] = pd.to_datetime(exxon_df['Date'])
exxon_df['Date'] = exxon_df['Date'].dt.date

#rename columns
exxon_df = exxon_df.rename(columns = {'Date': 'date', 'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close' })

#create a new column with % change from last close to new open
exxon_df['percent_change'] = (exxon_df['close'] - exxon_df['close'].shift(1)) / exxon_df['close'].shift(1) * 100

#eliminate columns with no use
exxon_df = exxon_df.drop(['Volume', 'Dividends', 'Stock Splits'], axis = 1)

#convert NaN in % column to 0
exxon_df['percent_change'] = exxon_df['percent_change'].fillna(0)

#convert inf values to 0
exxon_df['percent_change'] = exxon_df['percent_change'].replace([np.inf, -np.inf], 0)

exxon_df.head()

         date ticker  open      high       low     close  percent_change
0  1962-01-02    XOM   0.0  0.099028  0.098298  0.098298        0.000000
1  1962-01-03    XOM   0.0  0.099758  0.098298  0.099758        1.485049
2  1962-01-04    XOM   0.0  0.100488  0.099514  0.100001        0.243995
3  1962-01-05    XOM   0.0  0.100488  0.097568  0.097811       -2.189787
4  1962-01-08    XOM   0.0  0.098541  0.096351  0.097568       -0.248766

In [21]:
exxon_df.to_csv(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\project_stock_crypto_astrology\stocks_all_columns_csv\exxon_all_columns.csv', index = False)

## Tesla

In [22]:
tesla = yf.Ticker('TSLA')

#get the table including the oldest data until current time
tesla_df = tesla.history(period = 'max')

#insert a new column called Ticker in the first position with all rows set to "stock_ticker"
tesla_df.insert(0, 'ticker', 'TSLA')

#transform the index 'Date' in a column
tesla_df = tesla_df.reset_index()

#eliminate the time from the 'Date' column
tesla_df['Date'] = pd.to_datetime(tesla_df['Date'])
tesla_df['Date'] = tesla_df['Date'].dt.date

#rename columns
tesla_df = tesla_df.rename(columns = {'Date': 'date', 'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close' })

#create a new column with % change from last close to new open
tesla_df['percent_change'] = (tesla_df['close'] - tesla_df['close'].shift(1)) / tesla_df['close'].shift(1) * 100

#eliminate columns with no use
tesla_df = tesla_df.drop(['Volume', 'Dividends', 'Stock Splits'], axis = 1)

#convert NaN in % column to 0
tesla_df['percent_change'] = tesla_df['percent_change'].fillna(0)

#convert inf values to 0
tesla_df['percent_change'] = tesla_df['percent_change'].replace([np.inf, -np.inf], 0)

tesla_df.head()

         date ticker      open      high       low     close  percent_change
0  2010-06-29   TSLA  1.266667  1.666667  1.169333  1.592667        0.000000
1  2010-06-30   TSLA  1.719333  2.028000  1.553333  1.588667       -0.251148
2  2010-07-01   TSLA  1.666667  1.728000  1.351333  1.464000       -7.847274
3  2010-07-02   TSLA  1.533333  1.540000  1.247333  1.280000      -12.568307
4  2010-07-06   TSLA  1.333333  1.333333  1.055333  1.074000      -16.093748

In [23]:
tesla_df.to_csv(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\project_stock_crypto_astrology\stocks_all_columns_csv\tesla_all_columns.csv', index = False)

## JP Morgan

In [24]:
#choose ticker from yahoo finance website
jpm = yf.Ticker('JPM')

#get the table including the oldest data until current time
jpm_df = jpm.history(period = 'max')

#insert a new column called Ticker in the first position with all rows set to "stock_ticker"
jpm_df.insert(0, 'ticker', 'JPM')

#transform the index 'Date' in a column
jpm_df = jpm_df.reset_index()

#eliminate the time from the 'Date' column
jpm_df['Date'] = pd.to_datetime(jpm_df['Date'])
jpm_df['Date'] = jpm_df['Date'].dt.date

#rename columns
jpm_df = jpm_df.rename(columns = {'Date': 'date', 'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close' })

#create a new column with % change
jpm_df['percent_change'] = (jpm_df['close'] - jpm_df['close'].shift(1)) / jpm_df['close'].shift(1) * 100

#eliminate columns with no use
jpm_df = jpm_df.drop(['Volume', 'Dividends', 'Stock Splits'], axis = 1)

#convert NaN in % column to 0
jpm_df['percent_change'] = jpm_df['percent_change'].fillna(0)

#convert inf values to 0
jpm_df['percent_change'] = jpm_df['percent_change'].replace([np.inf, -np.inf], 0)

jpm_df.head()

         date ticker  open      high       low     close  percent_change
0  1980-03-17    JPM   0.0  1.126322  1.101925  1.105991        0.000000
1  1980-03-18    JPM   0.0  1.122255  1.105990  1.114123        0.735245
2  1980-03-19    JPM   0.0  1.134453  1.122255  1.130387        1.459853
3  1980-03-20    JPM   0.0  1.130388  1.118190  1.122256       -0.719345
4  1980-03-21    JPM   0.0  1.146651  1.122255  1.146651        2.173788

In [25]:
jpm_df.to_csv(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\project_stock_crypto_astrology\stocks_all_columns_csv\jpm_all_columns.csv', index = False)

# CRYPTOS ALL COLUMNS

## BTC

In [6]:
file = open(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\project_stock_crypto_astrology\source_csv\btcusd_d.csv')
btc_df = pd.read_csv(file)

#insert a new column called Ticker in the first position with all rows set to "stock_ticker"
btc_df.insert(1, 'ticker', 'BTC')

#create a new column with % change from last close to new open
btc_df['percent_change'] = (btc_df['Close'] - btc_df['Close'].shift(1)) / btc_df['Close'].shift(1) * 100

#rename columns
btc_df = btc_df.rename(columns = {'Date': 'date', 'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close' })

#convert NaN in % column to 0
btc_df['percent_change'] = btc_df['percent_change'].fillna(0)

#convert inf values to 0
btc_df['percent_change'] = btc_df['percent_change'].replace([np.inf, -np.inf], 0)

btc_df.tail()

            date ticker     open     high      low    close  percent_change
3314  2023-05-08    BTC  28808.7  28874.9  27282.4  27562.1       -6.751856
3315  2023-05-09    BTC  27585.6  27841.5  27405.4  27625.2        0.228938
3316  2023-05-10    BTC  27630.3  28344.5  26885.1  27536.1       -0.322532
3317  2023-05-11    BTC  27533.3  27751.5  26776.9  27004.9       -1.929104
3318  2023-05-12    BTC  27004.9  27110.9  25845.9  26442.5       -2.082585

In [27]:
btc_df.to_csv(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\project_stock_crypto_astrology\stocks_all_columns_csv\btc_all_columns.csv', index = False)

## ETH

In [4]:
file = open(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\project_stock_crypto_astrology\source_csv\eth_v_d.csv')
eth_df = pd.read_csv(file)

#insert a new column called Ticker in the first position with all rows set to "stock_ticker"
eth_df.insert(1, 'ticker', 'ETH')

#create a new column with % change from last close to new open
eth_df['percent_change'] = (eth_df['Close'] - eth_df['Close'].shift(1)) / eth_df['Close'].shift(1) * 100

#eliminate columns with no use
eth_df = eth_df.drop(['Volume'], axis = 1)

#rename columns
eth_df = eth_df.rename(columns = {'Date': 'date', 'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close' })

#convert NaN in % column to 0
eth_df['percent_change'] = eth_df['percent_change'].fillna(0)

#convert inf values to 0
eth_df['percent_change'] = eth_df['percent_change'].replace([np.inf, -np.inf], 0)

eth_df.tail()

,date,ticker,open,high,low,close,percent_change
2832,2023-05-09,ETH,1841.729,1859.343,1833.187,1844.803,0.166908
2833,2023-05-10,ETH,1844.833,1888.215,1799.127,1839.574,-0.283445
2834,2023-05-11,ETH,1839.564,1848.837,1774.596,1794.843,-2.431596
2835,2023-05-12,ETH,1794.853,1811.706,1741.740,1806.644,0.657495
2836,2023-05-13,ETH,1806.674,1817.702,1789.274,1800.890,-0.318491

In [31]:
eth_df.to_csv(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\project_stock_crypto_astrology\stocks_all_columns_csv\eth_all_columns.csv', index = False)

## XRP

In [32]:
file = open(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\machine_learning_stock_astrology\source_csv\xrp_v_d.csv')
xrp_df = pd.read_csv(file)

#insert a new column called Ticker in the first position with all rows set to "stock_ticker"
xrp_df.insert(1, 'ticker', 'XRP')

#create a new column with % change from last close to new open
xrp_df['percent_change'] = (xrp_df['Close'] - xrp_df['Close'].shift(1)) / xrp_df['Close'].shift(1) * 100

#eliminate columns with no use
xrp_df = xrp_df.drop(['Volume'], axis = 1)

#rename columns
xrp_df = xrp_df.rename(columns = {'Date': 'date', 'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close' })

#convert NaN in % column to 0
xrp_df['percent_change'] = xrp_df['percent_change'].fillna(0)

#convert inf values to 0
xrp_df['percent_change'] = xrp_df['percent_change'].replace([np.inf, -np.inf], 0)

xrp_df.head()

         date ticker     open     high      low    close  percent_change
0  2015-01-21    XRP  0.01748  0.01750  0.01523  0.01523        0.000000
1  2015-01-22    XRP  0.01523  0.01750  0.01523  0.01602        5.187131
2  2015-01-23    XRP  0.01602  0.01700  0.01600  0.01600       -0.124844
3  2015-01-24    XRP  0.01600  0.01739  0.01500  0.01739        8.687500
4  2015-01-25    XRP  0.01739  0.01739  0.01560  0.01700       -2.242668

In [33]:
xrp_df.to_csv(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\project_stock_crypto_astrology\stocks_all_columns_csv\xrp_all_columns.csv', index = False)

## LTC

In [34]:
file = open(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\machine_learning_stock_astrology\source_csv\ltc_v_d.csv')
ltc_df = pd.read_csv(file)

#insert a new column called Ticker in the first position with all rows set to "stock_ticker"
ltc_df.insert(1, 'ticker', 'LTC')

#create a new column with % change from last close to new open
ltc_df['percent_change'] = (ltc_df['Close'] - ltc_df['Close'].shift(1)) / ltc_df['Close'].shift(1) * 100

#eliminate columns with no use
ltc_df = ltc_df.drop(['Volume'], axis = 1)

#rename columns
ltc_df = ltc_df.rename(columns = {'Date': 'date', 'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close' })

#convert NaN in % column to 0
ltc_df['percent_change'] = ltc_df['percent_change'].fillna(0)

#convert inf values to 0
ltc_df['percent_change'] = ltc_df['percent_change'].replace([np.inf, -np.inf], 0)

ltc_df.head()

         date ticker  open  high  low  close  percent_change
0  2013-10-24    LTC   3.0   3.0  3.0    3.0             0.0
1  2013-10-25    LTC   3.0   3.0  3.0    3.0             0.0
2  2013-10-26    LTC   3.0   3.0  3.0    3.0             0.0
3  2013-10-27    LTC   3.0   3.0  3.0    3.0             0.0
4  2013-10-28    LTC   3.0   3.0  3.0    3.0             0.0

In [35]:
ltc_df.to_csv(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\project_stock_crypto_astrology\stocks_all_columns_csv\ltc_all_columns.csv', index = False)